@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

.home {
height: 100vh;
background-image: url('./assets/images/playground-image.jpg');
background-position: center;
background-repeat : no-repeat;
background-size: cover, 100vh;
}